{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <!-- Post Content Column -->
        <div class="card">

            <!-- Title -->
            <div class="card-header d-flex">
                <h4>{{ article.header }}</h4>
            </div>

            <div class="card-body">
                <div class="card-text">
                    {{ article.markdown|safe }}
                </div>
            </div>
            <!-- Date/Time -->
            <div class="card-footer d-flex">
                <p>Posted {{ article.pub_date }} by <a
                        href="{% url "blog:person" article.user.id %}"> {{ article.user }}</a></p>
            </div>
        </div>

        <div class="mb-3">
            <a href="{% url 'blog:new_comment' article.id %}" class="btn btn-primary">Leave a Comment&rarr;</a>
        </div>
        <!-- Comments Form -->

        {% for comment in article.comment_set.all %}
            {% if not comment.parent_comment %}
                {% include 'comment.html' %}
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}






